# vscode config
.vscode/

# python artifacts
**/*.py[abc]
**/__pycache__

# pytest artifacts
**/.pytest_cache

# development crud
**/sandbox.py
**/NOTES
**/example.py

# build
build/
dist/
*.egg-info/
requirements.txt