[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-jose-cryptodome = "*"
flask = "*"

[dev-packages]
"autopep8" = "*"
pycodestyle = "*"
expects = "*"
pytest = "*"
pytest-cov = "*"
setuptools = "*"
wheel = "*"
twine = "*"
requests = "*"

[requires]
python_version = "3.7"
